In [29]:
import pandas as pd
import numpy as np

In [30]:
arr=np.array([10,20,30,40,50])
ser=pd.Series(arr)

In [31]:
ser

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [32]:
a=ser.values
a

array([10, 20, 30, 40, 50])

In [33]:
arr

array([10, 20, 30, 40, 50])

In [34]:
my_dict={
    'name':['hari','sai'],
    'age':[20,24]
}
ser1=pd.Series(my_dict)
ser1

name    [hari, sai]
age        [20, 24]
dtype: object

In [35]:
#get all names
names=ser1['name']
names

['hari', 'sai']

In [36]:

names[1]

'sai'

In [37]:
names=ser1['name'][0]
print(names)

hari

## data frames using csv(comma seperated values)

In [38]:
import pandas as pd
import xlrd
df1=pd.read_csv('C:\\Users\\chava\\Desktop\\New folder\\python\\pandas\\test.csv')
df1

   'AGE'  'NAME' 'residence'
0     10  'hari'    'guntur'
1     20  'guru'    'guntur'

## reading data from excel

In [39]:
df=pd.read_excel(r'C:\\Users\chava\\Desktop\New folder\python\\pandas\test.xlsx')
df

   s.no  name  marks
0     1  hari     20
1     2   sai     30
2     3   lol     40

## reading data html file

In [40]:
import pandas as pd
df3=pd.read_html('https://currentaffairs.adda247.com/states-and-capitals/')
df3[0]

,S.NO,State,Capital,CM,Governor
0,1,Andhra Pradesh,Amaravati,YS Jagan Mohan Reddy,Biswa Bhusan Harichandan
1,2,Arunachal Pradesh,Itanagar,Pema Khandu,B. D. Mishra
2,3,Assam,Dispur,Himanta Biswa Sarma,Jagdish Mukhi
3,4,Bihar,Patna,Nitish Kumar,Phagu Chauhan
4,5,Chhattisgarh,Raipur,Bhupesh Baghel,Sushri Anusuiya Uikey
5,6,Goa,Panaji,Pramod Sawant,P.S. Sreedharan Pillai
6,7,Gujarat,Gandhinagar,Bhupendra Patel,Acharya Dev Vrat
7,8,Haryana,Chandigarh,Manohar Lal,Bandaru Dattatraya
8,9,Himachal Pradesh,Shimla,Jairam Thakur,Rajendra Vishwanath Arlekar
9,10,Jharkhand,Ranchi,Hemant Soren,Ramesh Bais
10,11,Karnataka,Bengaluru,Basavaraj Bommai,Thaawarchand Gehlot
11,12,Kerala,Thiruvananthapuram,Pinarayi Vijayan,Arif Mohammed Khan
12,13,Madhya Pradesh,Bhopal,Shivraj Singh Chouhan,Mangubhai Chhaganbhai Patel
13,14,Maharashtra,Mumbai,Eknath Shinde,Bhagat Singh Koshyari
14,15,Manipur,Imphal,N. Biren Singh,La. Ganesan
15,16,Meghalaya,Shillong,Conrad Kongkal Sangma,Satya Pal Malik
16,17,Mizoram,Aizawl,Pu Zoramthanga,Kambhampati Haribabu
17,18,Nagaland,Kohima,Neiphiu Rio,Jagdish Mukhi
18,19,Odisha,Bhubaneswar,Naveen Patnaik,Ganeshi Lal
19,20,Punjab,Chandigarh,Bhagwant Singh Mann,Banwarilal Purohit
20,21,Rajasthan,Jaipur,Ashok Gehlot,Kalraj Mishra
21,22,Sikkim,Gangtok,PS Golay,Ganga Prasad
22,23,Tamil Nadu,Chennai,M. K. Stalin,R. N. Ravi
23,24,Telangana,Hyderabad,K Chandrasekhar Rao,Tamilisai Soundararajan
24,25,Tripura,Agartala,Biplab Kumar Deb,Satyadeo Narain Arya
25,26,Uttar Pradesh,Lucknow,Yogi Aditya Nath,Anandiben Patel
26,27,Uttarakhand,Dehradun,Pushkar Singh Dhami,Lt. Gen. Gurmit Singh
27,28,West Bengal,Kolkata,Mamata Banerjee,La. Ganesan

## creating a data frame using dictionmary

In [41]:
import pandas as pd
dict1={
    'empid':[10,20,30],
    'emp_name':["hari",'far','kick'],
    "sal":[10000,200000,300000],
    'des':['sales','devops','cook']
}
df_dict=pd.DataFrame(dict1)
df_dict

   empid emp_name     sal     des
0     10     hari   10000   sales
1     20      far  200000  devops
2     30     kick  300000    cook

### creating a dataframe using tupple

In [42]:
import pandas as pd
tup=[("HAri",20,'devlpoper','12-01-2001'),
     ('sai',24,'exective','27-03-1997')
    ]
df_tup=pd.DataFrame(tup,columns=["name",'Age',"Job","dob"])

In [43]:
 df_tup

   name  Age        Job         dob
0  HAri   20  devlpoper  12-01-2001
1   sai   24   exective  27-03-1997